/* Layout geral, containers, grids, responsividade */
#app-container {
    min-height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
}

.screen {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.screen > div:first-of-type {
    flex-grow: 1;
}

.active-screen {
    display: flex !important;
}
.hidden {
    display: none !important;
}

@media (max-width: 640px) {
    #app-container {
        padding: 1rem;
    }
    .screen {
        padding: 0.5rem;
    }
}
